* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000000;
    background: linear-gradient(0deg,#000000 85%, #f2b6c1 100%);
}

strong{
    color: #2ecc71;
}

header{
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 6vh;
    border-bottom:solid 1px #f2b6c1;
}

header h1{
    font-size: 4vh;
    color: white;
}
h3{
   color: white; 
}

.droite{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    align-items: center;
    font-size: 2vh;
}

.droite p {
    color:#733F49;
    font-weight: bold;
}

.haut{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;     
    margin-top: 25px; 
    margin-bottom: 25px;  
    width: 100%;
}

.ChercherSeries{
    display: flex;
    flex-direction: row;
}

#Chercher {
    width: 100%;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 50px 0 0 50px;
    background-color: white;
    color: #000000;
}

#recher {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: normal;
    background-color: #f5f5f5;             
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    color: black;
}

button{
    background-color:#9D7179 ;
    border-radius: 0.5vh;
    border: 0.4vh solid #733F49;
    color: white;
    padding: 1vh;
    font-size: 1.5vh;
    cursor: pointer;
}

.ConteneurSerie {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
}


.listeSerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.film{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenant {
    position: relative; 
}

.titreFilm{
    position: absolute;
    bottom: 0;      
    text-align: center;   
    width: 100%;
    padding: 20px 10px 10px 10px;
    color: white ;
    font-size: 0.8rem;
    font-weight: normal;
    background: linear-gradient(0deg,  rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.427) 40%,transparent 100%
    );
}

.affiche {
    width: 100%;
    height: 100%;
}
.bottomFilm{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.butAjout {
    background-color: #2ecc7011;
    color: #2ecc71;
    font-style: italic;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    height: 100%; 
}

.butSupprimer{
    background-color: #cc2e2e36;
    color: #cc2e2e;
    font-style: italic;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    height: 100%; 
}

.notation {
    display: flex;
    justify-content: center;
    color: #ffcc00;         /* Couleur or pour les étoiles */
    font-size: 1.2rem;
    cursor: pointer;
}

.film:hover .bottomFilm {
    opacity: 1; /* Le bouton apparaît quand on survole la carte */
}

