{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<div class="home">
    <div class="home-overlay">
        <div class="welcome-text" id="welcome-box">
            <p class="subtitle">VOTRE UNIVERS DE SÉRIES</p>
            <h1 id="welcome">Bienvenue</h1>

            <div class="languages">
                <p>Bienvenue sur GenFlix</p>
                <p>Bienvenido a GenFlix</p>
                <p class="japanese">GenFlixへようこそ</p>
                <p class="arabic" dir="rtl">مرحبًا بك في جينفليكس</p>
            </div>
        </div>

        <footer class="footer">
            <p class="footer-logo">GenFlix Votre plateforme de séries</p>
        </footer>
    </div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
{% endblock %}