{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/mesSeries.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/BtnLoginLogout.js') }}" defer></script>


<div class="haut">
<form class="ChercherSeries" id=ChercherForm>
    <div class="cher">
        <input type="text" id="Chercher" name="Chercher"/>
    </div>
    <div class="recher">
            <input type="submit" id='recher' value="Rechercher"></input>
    </div>
</form>

<form id="retour">
    <div class="MS">
            <input type="submit" id='MS' value="Mes Series"style="display: none;"></input>
    </div>
</form>
</div>
<div class='bodySerie'>
<div class="MesSeries" id="MesSeries">
    <h3>Mes Series<strong>.</strong></h3>
    <div class="ligneverte"></div>
    <div class="listeSerie">
    {% for s in user.serie%}
    <div class="film">
    <div class="contenant">
        <div class="affiche">   
            <img class="img_film" src="{{s.img}}">
        </div>
        <div class="titreFilm">
            <p>{{s.name}}</p>
        </div>
        <div class="bottomFilm">
        <button class='butSupprimer' data-id-key="{{s.idtvmaze}}">
        Enlever</button>
        </div>
        </div>
        <div class="notation">
          <div class="stars" id="stars" data-star="{{s.idtvmaze}}" data-note="{{s.note}}">
            <span class="star" data-value="1">★</span>
            <span class="star" data-value="2">★</span>
            <span class="star" data-value="3">★</span>
            <span class="star" data-value="4">★</span>
            <span class="star" data-value="5">★</span>
          </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
    <div class="MesSeries" id="MesSeries2">
    <div id="Resulat-Series" class="listeSerie">
    </div>
</div> 
</div>

{% endblock %}